# --- Add to .env.local ---------------------------------

# SUPABASE CREDENTIALS
NEXT_PUBLIC_SUPABASE_URL="[YOUR-SUPABASE-URL]"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="[YOUR-PUBLISHABLE-KEY]"

# GEMINI API KEY        Will need to rotate and change name to just "GEMINI_API_KEY"
NEXT_PUBLIC_GEMINI_API_KEY="[YOUR-GEMINI-API-KEY]"